In [338]:
import re
import pandas as pd

# 상황 가정

playlist_id - weather : 12731, 12734, 12762
playlist_id - mood : 12762, 12934, 12982
playlist_id - situation : 13051, 13065, 13128

In [339]:
id_list = [12731, 12734, 12762, 12762, 12934, 12982, 13051, 13065, 13128]
sim_list = [0.3,0.243,0.1243, 0.45,0.23,0.11,0.67,0.54,0.32]

In [340]:
user_genre = ["댄스", "POP"]

### 시작

In [341]:
data = pd.read_csv("./input/data/songs_detail_0718.csv")

/tmp/ipykernel_4175/3378045733.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("./input/data/songs_detail_0718.csv")

In [342]:
playlist = pd.read_csv("./input/data/playlists_0709_v2.csv")

In [343]:
data.isna().sum()

Unnamed: 0               0
INFO_ARTIST_NAME       260
INFO_ALBUM_TITLE       264
INFO_GENRE             260
INFO_PLAY_TIME         266
SONG_ID                266
LYRICS                2167
LISTENER_CNT           272
PLAY_CNT               272
SONG_LIKE              272
INFO_LYRICST        114792
INFO_COMPOSER       108630
INFO_ARRANGER       115958
dtype: int64

In [344]:
song_info = data[["INFO_GENRE", "SONG_ID","LISTENER_CNT", "PLAY_CNT", "SONG_LIKE"]]

In [345]:
song_info.INFO_GENRE[2]

'POP / 락'

In [346]:
re.search(r'\w+','202' ).group()

'202'

In [347]:
song_info[song_info.INFO_GENRE == '24']

      INFO_GENRE  SONG_ID  LISTENER_CNT  PLAY_CNT  SONG_LIKE
17803         24      NaN           NaN       NaN        NaN

In [348]:
data[data.SONG_ID == 83599755]

,Unnamed: 0,INFO_ARTIST_NAME,INFO_ALBUM_TITLE,INFO_GENRE,INFO_PLAY_TIME,SONG_ID,LYRICS,LISTENER_CNT,PLAY_CNT,SONG_LIKE,INFO_LYRICST,INFO_COMPOSER,INFO_ARRANGER
17743,17743,아스트로 유니버스 (Astro Universe),NOT ALONE,가요 / 락,02:52,83599755.0,This way that I can,NaN,NaN,NaN,NaN,NaN,NaN

In [349]:
data[song_info.SONG_ID.isna()]

,Unnamed: 0,INFO_ARTIST_NAME,INFO_ALBUM_TITLE,INFO_GENRE,INFO_PLAY_TIME,SONG_ID,LYRICS,LISTENER_CNT,PLAY_CNT,SONG_LIKE,INFO_LYRICST,INFO_COMPOSER,INFO_ARRANGER
17744,see your eyes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17745,This moment that,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17746,you lean my sound,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17747,I believe in justice,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17748,get her out,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
130744,When you lose your way,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130745,Lose your place,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130746,Lost your faith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130747,I'll take you,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130748,back to paradise,13029,59945,111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### playlist_id	song_id	pl_view	pl_like	pl_match

In [350]:
from collections import Counter

In [351]:
from src.utils import str2list

In [352]:
matching_df = pd.DataFrame(
    {'playlist_id' :Counter(id_list).keys(),
    'matched' : Counter(id_list).values() }
    )
matching_df

   playlist_id  matched
0        12731        1
1        12734        1
2        12762        2
3        12934        1
4        12982        1
5        13051        1
6        13065        1
7        13128        1

In [353]:
pl_result = playlist.loc[playlist['playlist_id'].isin(id_list)][['playlist_id','playlist_songs','num_of_songs','playlist_view', 'playlist_likecount','tag_sit_cnt', 'tag_mood_cnt', 'tag_weather_cnt' ]]
pl_result = pl_result.reset_index(drop = True)

In [354]:
pl_result['tag_sit_cnt'] = pl_result['tag_sit_cnt'].apply(lambda x: min(x, 1))
pl_result['tag_mood_cnt'] = pl_result['tag_mood_cnt'].apply(lambda x: min(x, 1))
pl_result['tag_weather_cnt'] = pl_result['tag_weather_cnt'].apply(lambda x: min(x, 1))

In [355]:
pl_result['tag_cnt'] = pl_result.tag_sit_cnt + pl_result.tag_mood_cnt + pl_result.tag_weather_cnt

In [356]:
str2list(pl_result, ['playlist_songs'])

In [357]:
pl_result

,playlist_id,playlist_songs,num_of_songs,playlist_view,playlist_likecount,tag_sit_cnt,tag_mood_cnt,tag_weather_cnt,tag_cnt
0,12731,"[94618083, 95214710, 94341193, 95017909, 94653...",19,6290,6,1,1,1,3
1,12734,"[16307738, 82686256, 44115663, 54669731, 89557...",30,66171,203,1,1,1,3
2,12762,"[86697873, 87538989, 81159078, 91521153, 91322...",18,25258,103,1,1,1,3
3,12934,"[94770837, 87921411, 91125253, 91964441, 87371...",18,22142,73,1,1,1,3
4,12982,"[92674597, 93856379, 94680778, 91707239, 91633...",15,36134,171,1,1,1,3
5,13051,"[81230210, 16555221, 16396415, 80032377, 53040...",38,44285,199,1,1,0,2
6,13065,"[96032196, 83128742, 87309270, 87309860, 81266...",30,12299,63,1,1,1,3
7,13128,"[83372425, 83705091, 80672377, 81136284, 81156...",29,48887,227,1,1,1,3

In [358]:
pl = pd.merge(matching_df, pl_result)
pl['match_rate'] = pl.matched/pl.tag_cnt

In [359]:
pl = pl.drop(["matched", "tag_sit_cnt", "tag_mood_cnt", "tag_weather_cnt", "tag_cnt"], axis=1)
pl

,playlist_id,playlist_songs,num_of_songs,playlist_view,playlist_likecount,match_rate
0,12731,"[94618083, 95214710, 94341193, 95017909, 94653...",19,6290,6,0.333333
1,12734,"[16307738, 82686256, 44115663, 54669731, 89557...",30,66171,203,0.333333
2,12762,"[86697873, 87538989, 81159078, 91521153, 91322...",18,25258,103,0.666667
3,12934,"[94770837, 87921411, 91125253, 91964441, 87371...",18,22142,73,0.333333
4,12982,"[92674597, 93856379, 94680778, 91707239, 91633...",15,36134,171,0.333333
5,13051,"[81230210, 16555221, 16396415, 80032377, 53040...",38,44285,199,0.500000
6,13065,"[96032196, 83128742, 87309270, 87309860, 81266...",30,12299,63,0.333333
7,13128,"[83372425, 83705091, 80672377, 81136284, 81156...",29,48887,227,0.333333

In [360]:
songs = []
for song_list in pl.playlist_songs:
    songs += song_list
songs = list(set(songs))

In [361]:
pl_id = []
song_id = []
pl_view = []
pl_like = []
pl_match = []

for id in pl.playlist_id:
    i, song_list, _, v, l, mr = pl[pl.playlist_id == id].values.flatten()
    for song in song_list:
        pl_id.append(i)
        song_id.append(song)
        pl_view.append(v)
        pl_like.append(l)
        pl_match.append(mr)

In [362]:
pl_song = pd.DataFrame(
    {"playlist_id" : pl_id,
    "song_id" : song_id,
    "pl_view": pl_view,
    "pl_like" : pl_like,
    "pl_match" : pl_match}
)

In [363]:
pl_song

     playlist_id   song_id  pl_view  pl_like  pl_match
0          12731  94618083     6290        6  0.333333
1          12731  95214710     6290        6  0.333333
2          12731  94341193     6290        6  0.333333
3          12731  95017909     6290        6  0.333333
4          12731  94653717     6290        6  0.333333
..           ...       ...      ...      ...       ...
192        13128  87220064    48887      227  0.333333
193        13128  83500111    48887      227  0.333333
194        13128  83470161    48887      227  0.333333
195        13128  87220068    48887      227  0.333333
196        13128  16425912    48887      227  0.333333

[197 rows x 5 columns]

### song_id

In [364]:
song_detail = pd.read_csv("./input/data/songs_detail_0718.csv")

/tmp/ipykernel_4175/2122473505.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  song_detail = pd.read_csv("./input/data/songs_detail_0718.csv")

In [365]:
songs = pd.read_csv("./input/data/songs_v4(fill NaN).csv",keep_default_na=False)

In [366]:
youtube = pd.read_csv("./input/data/keys_concat.csv")
youtube.columns = [col.lower() for col in youtube.columns]
youtube["song_id"] = youtube["song_id"].apply(lambda x: str(int(x)))
youtube

          song_id  youtube_key
0        43329099  MyByixMoCKE
1        80738848  YBdyc1WDlBQ
2        16514268  bX9RMdcFQAw
3        16561159  zta7CAx5a7U
4        43927394  NORN7ZkBEew
...           ...          ...
138605   89576930  bSxdf-NtN3Y
138606  101093157  MWERAZARYMw
138607   99800090  amfgCHseQ3Y
138608   98190396  Jn0n9C6r6v8
138609   86867115  D3ovuBdbUqk

[138610 rows x 2 columns]

In [367]:
songs = songs[["SONG_TITLE", "SONG_ID"]]
songs["SONG_ID"] = songs["SONG_ID"].apply(lambda x: str(int(x)))
songs.head(3)

                            SONG_TITLE   SONG_ID
0  To Hell with the Devil (Album Ver.)  16523145
1                      Home Sweet Home  43329099
2                   Livin' On A Prayer  80738848

In [368]:
song_detail = song_detail[song_detail.SONG_ID.isna() == False]

In [369]:
song_detail = song_detail.reset_index(drop=True)

In [370]:
song_detail = song_detail[["SONG_ID", "LISTENER_CNT","INFO_GENRE", "PLAY_CNT", "SONG_LIKE"]]
song_detail["SONG_ID"] = song_detail["SONG_ID"].apply(lambda x: str(int(x)))
song_detail.head(3)

    SONG_ID  LISTENER_CNT INFO_GENRE  PLAY_CNT  SONG_LIKE
0  16523145       18519.0    POP / 락  177694.0      162.0
1  43329099       25762.0    POP / 락  110713.0      166.0
2  80738848       81872.0    POP / 락  693751.0     1047.0

In [371]:
song_detail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143613 entries, 0 to 143612
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   SONG_ID       143613 non-null  object
 1   LISTENER_CNT  143607 non-null  float64
 2   INFO_GENRE    143613 non-null  object
 3   PLAY_CNT      143607 non-null  float64
 4   SONG_LIKE     143607 non-null  float64
dtypes: float64(3), object(2)
memory usage: 5.5+ MB

In [372]:
songs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143669 entries, 0 to 143668
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   SONG_TITLE  143669 non-null  object
 1   SONG_ID     143669 non-null  object
dtypes: object(2)
memory usage: 2.2+ MB

In [373]:
song_info = pd.merge(song_detail, songs)

In [374]:
song_info

,SONG_ID,LISTENER_CNT,INFO_GENRE,PLAY_CNT,SONG_LIKE,SONG_TITLE
0,16523145,18519.0,POP / 락,177694.0,162.0,To Hell with the Devil (Album Ver.)
1,43329099,25762.0,POP / 락,110713.0,166.0,Home Sweet Home
2,80738848,81872.0,POP / 락,693751.0,1047.0,Livin' On A Prayer
3,16514268,11198.0,POP / 락,46580.0,148.0,Jump
4,16561159,5106.0,POP / 락,15960.0,29.0,Crystal Eyes
...,...,...,...,...,...,...
143608,86740877,2232.0,가요 / 인디,13989.0,52.0,청춘
143609,87285277,1490.0,가요 / 인디,5994.0,21.0,Summer With Somaz
143610,87968965,7280.0,가요 / 인디,61567.0,171.0,내 곁에 있어줘
143611,88075330,786.0,가요 / 인디,2545.0,16.0,Love Is Something
143612,88007728,563.0,가요 / 인디,2161.0,10.0,우연

In [375]:
song_info.columns = [col.lower() for col in song_info.columns]

In [376]:
merged = pd.merge(pl_song, song_info)

In [377]:
song_13128 = set(merged[merged.playlist_id == 13128].song_id)

In [378]:
set(pl_song[pl_song.playlist_id == 13128].song_id) - song_13128

{'83705091'}

In [379]:
merged

,playlist_id,song_id,pl_view,pl_like,pl_match,listener_cnt,info_genre,play_cnt,song_like,song_title
0,12731,94618083,6290,6,0.333333,602834.0,POP / 팝,6439956.0,8304.0,Easy On Me
1,12731,95214710,6290,6,0.333333,5974.0,POP / R&B/소울,31323.0,107.0,Scenic Drive (Feat. Smino & Ari Lennox)
2,12731,94341193,6290,6,0.333333,65111.0,POP / R&B/소울,540005.0,970.0,For Tonight
3,12731,95017909,6290,6,0.333333,38489.0,그외장르 / 캐롤,179811.0,268.0,lonely christmas (Feat. Justin Bieber & Poo Bear)
4,12731,94653717,6290,6,0.333333,50376.0,그외장르 / 캐롤,175089.0,202.0,Fall in Love at Christmas
...,...,...,...,...,...,...,...,...,...,...
191,13128,87220064,48887,227,0.333333,19395.0,POP / 락,149933.0,393.0,Holiday / Boulevard Of Broken Dreams (Album Ver.)
192,13128,83500111,48887,227,0.333333,2892.0,POP / 락,15511.0,33.0,Misery Business
193,13128,83470161,48887,227,0.333333,1955.0,POP / 팝,6355.0,6.0,The Fear
194,13128,87220068,48887,227,0.333333,47514.0,POP / 락,463944.0,1262.0,Wake Me Up When September Ends (Album Ver.)
195,13128,16425912,48887,227,0.333333,22131.0,POP / 락,141049.0,418.0,Are You Gonna Be My Girl

1. 장르

In [380]:
song_info['info_genre'].apply(lambda x: re.search(r'[\w-]+',x).group()).unique()

array(['POP', 'OST', '재즈', '그외장르', 'CCM', '가요', '뉴에이지', '동요', 'J-POP',
       '클래식'], dtype=object)

In [381]:
re.split(r'/','POP / 팝')

['POP ', ' 팝']

In [382]:
genre_list = list(song_info.info_genre.unique())

In [383]:
# pd.DataFrame({"genre": genre_list, "new":[0]*57}).to_csv("genre_list.csv", index=False)

In [384]:
new_genre = pd.read_csv("./input/data/genre_list.csv")

In [385]:
merged = pd.merge(merged, new_genre)

In [386]:
merged = pd.merge(merged, youtube)

In [387]:
merged['user_genre'] = merged['genre'].apply(lambda x: x in user_genre)

In [388]:
merged['song_favor'] = (merged.song_like/merged.play_cnt)

In [389]:
merged['pl_favor'] = merged.pl_like/merged.pl_view

In [390]:
merged

,playlist_id,song_id,pl_view,pl_like,pl_match,listener_cnt,info_genre,play_cnt,song_like,song_title,genre,youtube_key,user_genre,song_favor,pl_favor
0,12731,94618083,6290,6,0.333333,602834.0,POP / 팝,6439956.0,8304.0,Easy On Me,POP,H9NJenpBV2I,True,0.001289,0.000954
1,12731,94817565,6290,6,0.333333,10277.0,POP / 팝,50080.0,83.0,Dadada,POP,k-doufbQwtI,True,0.001657,0.000954
2,12731,92745813,6290,6,0.333333,127151.0,POP / 팝,1650306.0,3138.0,Good Without,POP,W-ICtMeVAwM,True,0.001901,0.000954
3,12731,93348364,6290,6,0.333333,146713.0,POP / 팝,1782900.0,3506.0,SUN GOES DOWN,POP,XQnyurnyViY,True,0.001966,0.000954
4,12731,94930724,6290,6,0.333333,6289.0,POP / 팝,28383.0,99.0,Be Alive (Original Song from the Motion Pictur...,POP,Idc_K4E_YHg,True,0.003488,0.000954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,13065,81515508,12299,63,0.333333,6601.0,클래식 / 교향곡,20327.0,56.0,"Tchaikovsky : Symphony No.6 In B Minor, Op.74 ...",기타,1Ou4rOSqHNg,False,0.002755,0.005122
189,13065,94499685,12299,63,0.333333,67105.0,클래식 / 크로스오버,331416.0,105.0,Timeless Moment,기타,7Ubobjv-K0M,False,0.000317,0.005122
190,13128,80672377,48887,227,0.333333,335966.0,POP / 랩/힙합,4293884.0,6980.0,Nothin' On You (Feat. Bruno Mars),랩/힙합,wQJIkbvUVPQ,False,0.001626,0.004643
191,13128,81136284,48887,227,0.333333,275776.0,POP / 랩/힙합,5193613.0,6560.0,"Young, Wild & Free (Feat. Bruno Mars)",랩/힙합,Qeem6ZVr8Ic,False,0.001263,0.004643
192,13128,81508772,48887,227,0.333333,22381.0,POP / 랩/힙합,316224.0,701.0,Battle Scars (With Guy Sebastian) (Feat. Guy S...,랩/힙합,mMEm_70xNdA,False,0.002217,0.004643

In [391]:
merged = merged[["playlist_id", "song_id", "pl_match", "song_title","genre", "user_genre", "pl_favor", "song_favor"]]
merged

,playlist_id,song_id,pl_match,song_title,genre,user_genre,pl_favor,song_favor
0,12731,94618083,0.333333,Easy On Me,POP,True,0.000954,0.001289
1,12731,94817565,0.333333,Dadada,POP,True,0.000954,0.001657
2,12731,92745813,0.333333,Good Without,POP,True,0.000954,0.001901
3,12731,93348364,0.333333,SUN GOES DOWN,POP,True,0.000954,0.001966
4,12731,94930724,0.333333,Be Alive (Original Song from the Motion Pictur...,POP,True,0.000954,0.003488
...,...,...,...,...,...,...,...,...
188,13065,81515508,0.333333,"Tchaikovsky : Symphony No.6 In B Minor, Op.74 ...",기타,False,0.005122,0.002755
189,13065,94499685,0.333333,Timeless Moment,기타,False,0.005122,0.000317
190,13128,80672377,0.333333,Nothin' On You (Feat. Bruno Mars),랩/힙합,False,0.004643,0.001626
191,13128,81136284,0.333333,"Young, Wild & Free (Feat. Bruno Mars)",랩/힙합,False,0.004643,0.001263
192,13128,81508772,0.333333,Battle Scars (With Guy Sebastian) (Feat. Guy S...,랩/힙합,False,0.004643,0.002217

In [392]:
def min_max_scale(df, col:str):
    min_val = min(df[col])
    max_val = max(df[col])
    df[col] = df[col].apply(lambda x: round((x-min_val)/(max_val-min_val), 2))

In [393]:
min_max_scale(merged, "pl_favor")
merged

/tmp/ipykernel_4175/1973599598.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].apply(lambda x: round((x-min_val)/(max_val-min_val), 2))

,playlist_id,song_id,pl_match,song_title,genre,user_genre,pl_favor,song_favor
0,12731,94618083,0.333333,Easy On Me,POP,True,0.00,0.001289
1,12731,94817565,0.333333,Dadada,POP,True,0.00,0.001657
2,12731,92745813,0.333333,Good Without,POP,True,0.00,0.001901
3,12731,93348364,0.333333,SUN GOES DOWN,POP,True,0.00,0.001966
4,12731,94930724,0.333333,Be Alive (Original Song from the Motion Pictur...,POP,True,0.00,0.003488
...,...,...,...,...,...,...,...,...
188,13065,81515508,0.333333,"Tchaikovsky : Symphony No.6 In B Minor, Op.74 ...",기타,False,1.00,0.002755
189,13065,94499685,0.333333,Timeless Moment,기타,False,1.00,0.000317
190,13128,80672377,0.333333,Nothin' On You (Feat. Bruno Mars),랩/힙합,False,0.89,0.001626
191,13128,81136284,0.333333,"Young, Wild & Free (Feat. Bruno Mars)",랩/힙합,False,0.89,0.001263
192,13128,81508772,0.333333,Battle Scars (With Guy Sebastian) (Feat. Guy S...,랩/힙합,False,0.89,0.002217

In [394]:
min_max_scale(merged, "song_favor")

/tmp/ipykernel_4175/1973599598.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].apply(lambda x: round((x-min_val)/(max_val-min_val), 2))

In [395]:
merged['favor_score'] = merged.song_favor + merged.pl_favor
merged

/tmp/ipykernel_4175/1803790008.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['favor_score'] = merged.song_favor + merged.pl_favor

,playlist_id,song_id,pl_match,song_title,genre,user_genre,pl_favor,song_favor,favor_score
0,12731,94618083,0.333333,Easy On Me,POP,True,0.00,0.26,0.26
1,12731,94817565,0.333333,Dadada,POP,True,0.00,0.33,0.33
2,12731,92745813,0.333333,Good Without,POP,True,0.00,0.38,0.38
3,12731,93348364,0.333333,SUN GOES DOWN,POP,True,0.00,0.39,0.39
4,12731,94930724,0.333333,Be Alive (Original Song from the Motion Pictur...,POP,True,0.00,0.69,0.69
...,...,...,...,...,...,...,...,...,...
188,13065,81515508,0.333333,"Tchaikovsky : Symphony No.6 In B Minor, Op.74 ...",기타,False,1.00,0.55,1.55
189,13065,94499685,0.333333,Timeless Moment,기타,False,1.00,0.06,1.06
190,13128,80672377,0.333333,Nothin' On You (Feat. Bruno Mars),랩/힙합,False,0.89,0.32,1.21
191,13128,81136284,0.333333,"Young, Wild & Free (Feat. Bruno Mars)",랩/힙합,False,0.89,0.25,1.14
192,13128,81508772,0.333333,Battle Scars (With Guy Sebastian) (Feat. Guy S...,랩/힙합,False,0.89,0.44,1.33

In [396]:
rec_result = merged.sort_values(by = ["user_genre", "pl_match", "favor_score"], ascending=False).reset_index(drop=True)

In [397]:
rec_songs = rec_result[:6].song_title

# 결과

In [399]:
rec_songs

0    Warm on a Christmas Night
1           The Christmas Song
2              Christmas Blues
3         HERE (For Christmas)
4      With You This Christmas
5    Blame It On The Mistletoe
Name: song_title, dtype: object

In [398]:
rec_result

,playlist_id,song_id,pl_match,song_title,genre,user_genre,pl_favor,song_favor,favor_score
0,12762,91561512,0.666667,Warm on a Christmas Night,POP,True,0.75,0.51,1.26
1,12762,91561718,0.666667,The Christmas Song,POP,True,0.75,0.45,1.20
2,12762,91521153,0.666667,Christmas Blues,POP,True,0.75,0.42,1.17
3,12762,89567101,0.666667,HERE (For Christmas),POP,True,0.75,0.42,1.17
4,12762,89669500,0.666667,With You This Christmas,POP,True,0.75,0.40,1.15
...,...,...,...,...,...,...,...,...,...
188,12731,95017909,0.333333,lonely christmas (Feat. Justin Bieber & Poo Bear),기타,False,0.00,0.30,0.30
189,12731,94653717,0.333333,Fall in Love at Christmas,기타,False,0.00,0.23,0.23
190,12731,95270984,0.333333,Best Of Me (Originals),R&B,False,0.00,0.17,0.17
191,12731,95002684,0.333333,Summer Rain (Feat. Jazmine Sullivan),R&B,False,0.00,0.15,0.15
192,12731,93763393,0.333333,Feelings Mutual? (Feat. Jarreau Vandal),R&B,False,0.00,0.10,0.10

In [ ]:
a = [[23], [34]]
c,d = a